<div style="border: 2px #076652 solid; background-image: url('https://media.istockphoto.com/vectors/abstract-white-background-geometric-texture-vector-id954565408?b=1&k=20&m=954565408&s=170667a&w=0&h=6IG6ZuQI7FdXbEFXtEbHhY3BfBSu2_aRYTB_r6Oz-qc=');">
    {{#each courses as |course|}}
        <div style="border-top: 2px #076652 solid;">
            Course: {{name}}
            <br>
            Par: {{par}}
            <br>
        </div>    
            <div style="border-bottom: 2px dotted #076652;">Reviews↓</div>
        {{#each reviews as |review|}}
            {{comment}} - {{course.user.username}} {{format_date createdDate}}
            <br>
            Rating: {{rating}}
            <br>
        {{/each}}
    {{/each}}
</div>