{{#each courses as |course|}}

    <div style="border: 1px black solid; margin: 2px; padding: 2px;">
    name: {{name}}
    <br>
    par: {{par}}
    <br>
    review:
    {{#each reviews as |review|}}
        <div>
            comment: {{comment}}
            <br>
            created date: {{format_date created_date}}
            <br>
            rating: {{rating}}
            <br>
            by: {{course.user.username}}
        </div>
    </div>
    {{/each}}

{{/each}}