{{#each courses as |course|}}


    <div style="border: 2px #076652 solid; margin: 2px; padding: 2px; background-image: url('https://media.istockphoto.com/vectors/abstract-white-background-geometric-texture-vector-id954565408?b=1&k=20&m=954565408&s=170667a&w=0&h=6IG6ZuQI7FdXbEFXtEbHhY3BfBSu2_aRYTB_r6Oz-qc=');">
    Name: {{name}}
    <br>
    Par: {{par}}
    <br>
    Review:

    {{#each reviews as |review|}}
        <div>
            Comment: {{comment}}
            <br>
            Created Date: {{format_date createdDate}}
            <br>

            Rating: {{rating}}
            <br>
            by: {{course.user.username}}
        </div>

    {{/each}}
    </div>
{{/each}}
