{{#each courses as |course|}}

    <div>
    Name: {{name}}
    Par: {{par}}
    Review:
    {{#each reviews as |review|}}
        <div>
            Comment: {{comment}}
            <br>
            Created Date: {{format_date created_date}}
            <br>
            Rating: {{rating}}
        </div>
    </div>
    {{/each}}

{{/each}}